* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}
/* use it as a primary button */
.primary-button {
  border-radius: 5px;
  border-style: none;
  font-size: 20px;
  font-weight: 600;
  padding: 21px 25px 20px 26px;
  color: #005fac;
}
/* banner */
.banner {
  background-image: url("../images/banner/banner3.png");
  width: 1600px;
  height: 808px;
}
.banner-text {
  text-align: right;
  padding: 216px 230px 166px 845px;
  color: #ffffff;
}
.banner-header-text {
  font-weight: 700;
  font-size: 65px;
}
.banner button {
  margin-top: 32px;
}

/* my Failures List */
.my-image {
  background-image: url("../images/person.png");
  width: 1500px;
  height: 723.3px;
  background-repeat: no-repeat;
}
.my-failures {
  margin-left: 100px;
}

.failures-items {
  display: flex;
  align-items: center;
  gap: 100px;
  padding-top: 131px;
}
.my-failures ul {
  margin-top: 15px;
}
.my-failures li {
  list-style: none;
  margin-left: -40px;
  margin-top: 10px;
}
.my-failures li i {
  color: green;
}
.failures-list {
  padding-left: 50px;
}
.failures-list p {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
}
.failures-list h2 {
    font-weight: bold;
font-size: 40px;
padding-right: 200px;
}

/* MY Plans style  */
.my-plans{
    margin-top: 130px;
}

.my-plans-container{
    display: flex;
    gap: 100px;
    justify-content: center;
    text-align: center;
    margin-top: 50px ;
   
   
    
}
.my-plans-header{ 
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}
.my-plans-container p,h3{
    margin-top: 22px ;
}
.my-plans-container p,h3,img {
    text-align: center;

}
.my-plans p{
    color: black;
}


/* Positive text style */
.positive-image{
    background-image:linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url('../images/watch.png');
    border-radius: 8px;;
    width: 1140px;
height: 300px;
margin: 130px 230px;
background-repeat: no-repeat;
}

.positive-image h2{
    padding: 59px 0 0 64px;
    color: white;
    font-weight: 700;
font-size: 40px;
}
.positive-image button {
    margin: 17px 0 0 64px;
}
/* Footer style */

footer{
    background: #151414; 
    width: 1600px;
height: 577px;
}
.footer-item{
    display: flex;
    justify-content: space-between;
    padding: 130px 230px 0 ;
    gap: 15px;
}
.footer-item h2 {
    color: #F8F8F8;
}
.footer-item h2 {
    font-weight: 700;
font-size: 45px;
}
.footer-item h3 {
    font-weight: 600;
font-size: 25px;
}
.footer-item p {
    color: #FFFFFF;
}
.second-button{
    border-radius: 5px;
  border-style: none;
  font-size: 20px;
  font-weight: 600;
  padding: 21px 25px 20px 26px;
  background-color:#005FAC ;
  color: #ffffff;
}
.subscribe input {
    width: 325px;
height: 64px;
background-color: black;
color: white;
font-size: 18px;
border: 1px solid white;
border-radius: 10px;

}
.subscribe h3 {
    text-align: left;
}
.footer-item p,input,button {
margin-top: 30px;
}
footer h3{ color: #F8F8F8;

}